@import "../config/colors";

.form-button {
  margin-bottom: 10px;
  padding: 10px 20px;
  display: inline-block;

  border-radius: 4px;
  border: 1px solid $mussel-2nd;
  box-shadow: 0 0 1px $lotus-3rd;

  color: $mussel-3rd;
  background-color: $lotus;

  text-decoration: none;

  // States
  &:hover {
    border-color: $mussel;
    background-color: $lotus-2nd;
  }

  &:active {
    box-shadow: 0 0 5px $mussel-2nd inset;
    background-color: $lotus-3rd;
    border-color: $mussel-3rd;
  }

  // Variants
  &.-left-attached {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.-primary {
    background-color: $waterfall;
    color: $lotus;
    border-color: $waterfall-3rd;

    // States
    &:hover {
      background-color: $waterfall-2nd;
      color: $lotus;
      border-color: $waterfall-3rd;
    }

    &:active {
      background-color: $waterfall;
      color: $lotus;
      border-color: $waterfall-3rd;
    }
  }
}
