$waterfall: #2bcdfc;
$waterfall-2nd: #34d7fd;
$waterfall-3rd: #2273c9;

$houseboat: #34495e;
$houseboat-2nd: #415b76;
$houseboat-3rd: #263545;

$lotus: #fff;
$lotus-2nd: #f9f9f9;
$lotus-3rd: #c4cacc;

$mussel: #494c4c;
$mussel-2nd: #abb3b3;
$mussel-3rd: #181a1a;
